<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer edit</title>
</head>
<body>
    <form action="{% url 'customer-edit-url' customer_id=customer.id %}" method="post">
    {% csrf_token %}
        <input type="text" name="first_name" value="{{ customer.first_name }}">
        <input type="text" name="last_name" value="{{ customer.last_name }}">
        <input type="text" name="phon_number" value="{{ customer.phon_number }}">
        <textarea name="addres">{{customer.addres}}</textarea>
        <button type="submit">OK</button>
    </form>
</body>
</html>